<html>
  <header>
    <style>
      button {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
      }
    </style>
  </header>
  <body>
    <h1>Hola <%= username %>!</h1>
    <h2>Este contenido está protegido</h2>
    <a href="/"><button>Inicio</button></a>
  </body>
</html>
